<%- include("./partials/head.ejs") %>

<aside class="dt1">
  <div class="logo">
    <img src="assets/images/random-studio.png" alt="Random Studio Logo" />
    <span>Lunch sign-up</span>
  </div>

  <ul class="progress-list">
    <li>
      <object type="image/svg+xml" data="assets/images/dot.svg" class="dot">
        >
      </object>
      <span>Name</span>
    </li>
    <li>
      <object type="image/svg+xml" data="assets/images/dot-hollow.svg" class="dot">
        •
      </object>
      <span>Options</span>
    </li>
    <li>
      <object type="image/svg+xml" data="assets/images/dot-hollow.svg" class="dot">
        •
      </object>
      <span>Guests</span>
    </li>
    <li>
      <object type="image/svg+xml" data="assets/images/dot-hollow.svg" class="dot">
        •
      </object>
      <span>Confirmation</span>
    </li>
  </ul>
</aside>

<main class="dt1">
  <h2>Let's get you signed up for lunch this week!</h2>
  <h1>First, what is your <span class="highlight-colour">name</span>?</h1>
</main>

<%- include("./partials/foot.ejs") %>