:root {
  --gray-1: #fbfbfb;
  --gray-2: #d2d2d2;
  --gray-3: #abaaac;
  --gray-4: #5f5f64;
  --black: #222222;

  --highlight: #4242FC;
  --accent: #e4dfd5;

  --text-size-1: 2.3331rem;
  --text-size-2: 2rem;
  --text-size-3: 1.5rem;
  --text-size-4: 0.9169rem;
  --text-size-5: 0.75rem;
  --text-size-6: 0.5rem;
}

body {
  font-family: 'Helvetica Neue Light', sans-serif;
  color: var(--black);
  display: flex;
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 18rem;
  padding: 1rem;
  width: 8rem;
  margin: 3rem;
}

.logo img {
  width: 6rem;
  height: auto;
}

.logo span {
  font-size: var(--text-size-5);
  margin-top: 0.5rem;
  color: #abaaac;
}

.progress-list {
  margin-left: 1.5rem;
}

.progress-list > li {
  display: flex;
  color: #5f5f64;
  font-size: 0.8rem;
  padding-top: 0.2rem;
}

.progress-list object {
  width: 0.4rem; 
  height: 0.4rem;
  margin-top: 0.25rem;
  padding-right: 0.5rem;
}

main {
  display: grid;
  place-content: center;
  margin-left: 5vw;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-right: 10vw;
}

.content-container > h1 {
  font-size: var(--text-size-1);
  margin: 0;
}

.content-container > h2 {
  font-size: var(--text-size-1);
  color: #abaaac;
  margin: 0;
}

button[type="submit"] {
  background-color: var(--gray-3);
  color: var(--gray-1);
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  font-size: var(--text-size-4);
  font-family: 'Helvetica Neue Light', sans-serif;
  margin-top: 2rem;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  margin-left: 2rem;
}

.name-form button {
  height: 3rem;
  margin-left: 2rem;
}

.name-form {
  display: flex;
}

.name-form input[type="text"] {
  border-radius: 2rem;
  height: 1.8rem;
  width: 24rem;
  margin-top: 2rem;
  padding: 0.5rem;
  padding-left: 1.3rem;
  font-family: 'Helvetica Neue Light', sans-serif;
  color: var(--gray-4);
  font-size: var(--text-size-3);
}

.options-form {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.options-form label,
.name-form label {
  font-size: var(--text-size-4);
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.name-form label {
  margin-left: 1rem;
  margin-top: 0.4rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;

  margin: 0;
  font: inherit;
  color: var(--black);
  width: 0.85rem;
  height: 0.85rem;
  border: 0.1rem solid var(--black);
  border-radius: 50%;
  transform: translateY(0.1rem);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.55rem;
  height: 0.55rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  border-radius: 50%;
  background-color: var(--highlight);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.options-form button {
  margin-top: 0rem;
}

#remember-options-label {
  margin-top: 1rem;
}

.highlight-colour {
  color: var(--highlight) !important;
}