body {
  font-family: 'Helvetica Neue Light', sans-serif;
  color: #222222;
}

aside.dt1 > .logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 18rem;
  padding: 1rem;
  width: 8rem;
  margin: 3rem;
}

aside.dt1 > .logo > img {
  width: 6rem;
  height: auto;
}

aside.dt1 > .logo > span {
  font-size: 0.6667rem;
  margin-top: 0.5rem;
  color: #abaaac;
}

aside.dt1 > .progress-list {
  margin-left: 1.5rem;
}

aside.dt1 > .progress-list > li {
  display: flex;
  color: #5f5f64;
  font-size: 0.8rem;
  padding-top: 0.2rem;
}

aside.dt1 > .progress-list > li > object {
  width: 0.4rem; 
  height: 0.4rem;
  margin-top: 0.25rem;
  padding-right: 0.5rem;
}

main.dt1 {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
}

main.dt1 > h1 {
  font-size: 2.3333rem;
  margin: 0;
}

main.dt1 > h2 {
  font-size: 2.3333rem;
  color: #abaaac;
  margin: 0;
}

.highlight-colour {
  color: #4242FC !important;
}